certifi==2022.12.7
chardet==3.0.4
idna==2.8
numpy==1.21.4
pyTelegramBotAPI==4.8.0
six==1.14.0
urllib3==1.25.8
virtualenv==16.7.9
aiohttp==3.8.3
matplotlib==3.6.2
Pillow==9.3.0
pymongo==4.3.3
scipy==1.9.3
